{% extends 'base.html' %}
{% load static %}

{% block title %}
  Welcome to SDH Test!
{% endblock%}

{% block content %}

<div class="" style="font-size: 1rem">

  <h2>Реализовать решение с использованием Django.</h2>

  <div class="">
    Django приложение, реализующие регистрацию с подтверждением через email и реферальную систему пользователей.
  </div>

  <h2 class="mt-4">Описание задания:</h2>

  <div class="">
    Сайт должен поддерживать регистрацию пользователей с возможностью ввести код-приглашение.
    После подтверждения email пользователь попадает на свою личную страницу.
    На этой странице он видит тех, кто привлек его и список привлеченных им людей.
    <br>Пользователь может сгенерировать свой код-приглашение.
    <br>У каждого пользователя есть его текущие очки.
  </div>
  <div class="">
    <br>Схема начисления очков такова:
  </div>
  <ul>
    <li>
      Призовой фонд за успешное использование кода-приглашения составляет N баллов, где N - это текущие количество зарегистрировавшихся пользователей владельца кода + 1.
    </li>
    <li>
      Призовой фонд распределяется по схеме: владельцу кода 1 балл, тому кто привлек владельца 1 балл и так далее, пока будет достигнуто одно из условий: a) N == 0 b) достигнута вершина дерева
    </li>
    <li>
      В случае b и если N > 0 - пользователю на вершине начисляются все значение N
    </li>
  </ul>

  <div class="">
    Первые 5 пользователей могут зарегистрироваться в системе без кода-приглашения, далее только с кодом.
  </div>
  <div class="">
    Должна быть реализована страница рейтинга пользователей по очкам “Топ-10”
  </div>
</div>




{% endblock %}
